<div class="tweee" user="{{newTweee.username}}" id="{{newTweee._id}}" uid="{{newTweee.userid}}">
  <b>{{newTweee.username}} said... </b> 
  <button type="button" class="delete" id="{{newTweee._id}}"user="{{newTweee.username}}" uid="{{newTweee.userid}}">Delete</button>
  <p>{{newTweee.words}}</p>
</div>